<div class="container">
  <%= render 'tabs' %>

    <% @articles.each do |article| %>
      <%= render 'article', article: article %>
      <%# メソッドに引数がある場合、renderの後に値を渡す(article: article) %>
    <% end %>

    <%# 記事に飛ぶリンク付きボタン %>
    <%= link_to new_article_path do %> 
      <div class="float_btn">
        <i class="fa fa-plus">
        </i>
      </div>
    <% end %>
</div>